*.o
*.so
*.log
*.status
*~
.DS_Store
inst/.DS_Store
inst/notes/.DS_Store
src/.DS_Store
.DS_Store
.DS_Store
inst/.DS_Store
inst/notes/.DS_Store
src/.DS_Store
.DS_Store
inst/notes/.DS_Store
.DS_Store
inst/.DS_Store
inst/notes/.DS_Store
inst/notes/src_changes_notes/.DS_Store
.DS_Store
